html, body {
    margin: 0;
    padding: 0;
}

aside {
    height: 100vh;
    width: 10rem;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}

.show-menu {
    width: 4rem;
    overflow: hidden;
}

aside #hidden-menu-icon {
    font-size: 40px;
    /* margin-top: 1rem; */
    /* margin-left: .5rem; */
    cursor: pointer;
    padding: 0.5rem;
}

aside ul {
    margin-top: 4rem;
    padding: 0.5rem;
    margin-left: 0.5rem;
}

aside ul li {
    list-style: none;
    margin-bottom: 3rem;
    font-size: 20px;
}

aside ul li a {
    text-decoration: none;
    color: black;
}

aside #github {
    font-size: 30px;
    margin-right: 2rem;
}

aside .github-account {
    display: flex;
    flex-direction: row;
}

aside .contact {
    display: flex;
    flex-direction: row;
   
}

aside #email {
    margin-right: 2rem;
    font-size: 30px;
}