html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
}

.container {
    display: flex;
    flex-direction: row;
}

.side-menu {
    min-height: 100vh;
    width: 3em;
    display: flex;
    flex-direction: column;
    position: relative;
    flex-shrink: 0;
}

.side-menu #hidden-menu-icon {
    font-size: 35px;
    cursor: pointer;
    padding: .5rem;
    margin-top: 1rem;
}

.side-menu #menu-items{
    background-color: rgba(0, 0, 0, .2);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 15rem;
    bottom: 0;
    z-index: 100;
    overflow: hidden;
    transition: width 1s;
}

.side-menu.show-menu #menu-items {
    width: 100%;
}

.side-menu ul {
    margin-top: 4rem;
    padding: 0;
    width: 15rem;
}

.side-menu ul li {
    width: 100%;
    list-style: none;
    font-size: 20px;
}

.side-menu ul li a {
    display: block;
    padding: 0.5rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: black;
}

.side-menu ul li a:hover {
    background: rgba(255, 255, 255, .3);
}


.side-menu .socials i {
    font-size: 30px;
    margin-right: 2rem;
    width: 1.5ex;
}

.headline h1, h3{
    display: inline;
}

.headline h1 {
    margin-right: .5rem;
    font-size: 40px;
}

.headline h3 {
    font-size: 25px;
}

.headline {
    height: 5rem;
    width: 85%;
    margin: 2rem 1rem;
    border-bottom: 1px solid black;
}

.main-content {
    width: 100%;
}

.main-content img {
    border-radius: 100%;
}

.main-content .image {
    width: 100%;
    text-align: center;
}

.descriptive-text {
    margin-left: 1rem;
}

.descriptive-text h4 {
    font-size: 25px;
}

.descriptive-text h5 {
    font-size: 20px;
}

