html, body {
    margin: 0;
    padding: 0;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	color: #182532;
	background-color: #fff;
}

.side-menu {
    display: flex;
    flex-direction: column;
	flex-shrink: 0;
	min-height: 100vh;
    width: 5em;
    position: sticky;
	top: 0;
	left: 0;
	float: left;
}

.side-menu #hidden-menu-icon {
    font-size: 40px;
    cursor: pointer;
    padding: .5rem;
    margin-top: 1rem;
	margin-left: 0.6rem;
}

.side-menu #menu-items{
    background-color: rgba(0, 0, 0, .7);
	/* background-image: url(test.png); */
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 15rem;
    bottom: 0;
    z-index: 100;
    overflow: hidden;
    transition: width 1s;
	color: rgba(255, 255, 255, .7);
}

.side-menu.show-menu #menu-items {
    width: 100%;
}

.side-menu ul {
    margin-top: 4rem;
    padding: 0;
    width: 15rem;
	/* margin-left: .6rem; */
}

.side-menu ul li {
    width: 100%;
    list-style: none;
    font-size: 20px;
}

.side-menu ul li a {
    display: block;
    margin-bottom: 1rem;
    text-decoration: none;
    color: inherit;
	padding: 1rem;
}

.side-menu ul li a:hover {
    background: rgba(255, 255, 255, .3);
}

.side-menu .socials i {
    font-size: 35px;
    margin-right: 2rem;
    width: 1.5ex;
}

.main-content {
	/*
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	*/
	display: flex;
	padding: 4em 6rem;
}

.photo {
	/*
	grid-column: 1 / 3;
	*/
	padding-right: 2rem;
}

.descriptive-text {
	/*
	grid-column: 3 / 12;
	*/
}

.main-content  h1 {
    font-size: 5em;
	font-weight: 700;
}

.main-content  h2 {
    font-size: 4.5em;
	font-weight: 600;
	margin-bottom: 0;
}

.main-content .cv {
	padding: 0 3rem;
}

.main-content .cv .activity {
	margin-bottom: 3rem;
}

.main-content .education .activity {
	margin-bottom: 1rem;
}

.main-content .activity h3, .main-content .activity h4 {
	font-weight: 600;
	margin-bottom: .5rem;
	padding-left: .2rem;
}

.main-content .activity h3 {
	text-transform: uppercase;
	font-size: 3.5em;
}

.main-content .activity h4 {
	font-size: 2.5em;
	margin: 2rem 0 0 0;
}

.main-content .activity p {
	margin: 0;
	font-size: 1.1875em;
	color: #858585;
}

.main-content img {
	border-radius: 100%;
	border: 3px solid transparent;
	outline: 3px solid transparent;
	animation: photo-outline 4s linear forwards;
}

.descriptive-text {
	/*
	padding: 0 3rem;
	*/
}

.descriptive-text p {
	padding-left: 0.4rem;
}

.olivia {
	margin-bottom: 4rem;
}

.olivia h1, .olivia p {
	margin: 0;
}

.olivia h1 {
	white-space: nowrap;
}

.olivia h1 .thin {
	font-weight: 100;
}

.about-me {
	width: 60%;
	font-size: 24px;
	font-weight: 400;
	color: black;
}

.education {
	padding: 0 3rem;
}

.education p {
	margin-bottom: 1rem;
	font-size: 20px;
}

.education p .start-date {
	display: block;
	color: #999;
	font-size: 20px;
}


.check-icon{
	font-size: 25px;
	color: lightgreen;
	margin-left: 1rem;
}

/* table {
	border-spacing: 5px;
	font-size: 18px;
} */

@keyframes photo-outline {
	60% {
		outline: 3px solid transparent;	
	}

	61%, 100% {
		outline: 3px solid #000;
	}
}

svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

svg #path {
	--dash-length: 4000;
	--dash-start: 12000;
	
	fill: none;
	stroke: #000;
	stroke-width: 3px;
	stroke-dasharray: var(--dash-length);
	stroke-dashoffset: var(--dash-start);
	animation: animate-line 4s linear forwards;
	animation-timing-function: ease-in-out;
}

@keyframes animate-line {
	from {
		stroke-dashoffset: var(--dash-start);	
	}
	to {
		stroke-dashoffset: var(--dash-length);
	}
}

@media only screen and (max-width: 1400px) {
	.main-content .about-me {
		width: unset;
	}
}

@media only screen and (max-width: 1167px) {
	.main-content {
		flex-direction: column;
	}
}

@media only screen and (max-width: 931px) {
	.main-content {
		padding-left: 10.31vw;
		padding-right: 10.31vw;
	}
}

@media only screen and (max-width: 832px) {
	.olivia h1 {
		font-size: 9.61vw;
	}
}

@media only screen and (max-width: 1050px)  {
	.main-content  h2 {
		font-size: 6.85vw;
		font-weight: 600;
	}
}

@media screen and (max-width: 768px) {
	.photo {
		/*
		grid-column: 1 / 12;
		margin: auto;
		*/
	}

	.main-content {
		/*
		padding: 0;
		grid-column: 1 / 12;
		margin: 1rem 3rem;
		margin-left: 2.5rem;
		*/
	}

	.main-content .cv, .education {
		padding: 0;
	}

	.descriptive-text {
		/*
		grid-column: 1 / 12;
		*/
	}
	
}

@media only screen and (max-width: 576px)  {
	.side-menu {
		top: auto;
		bottom: 0;
		min-width: 100%;
		flex-direction: row;
		position: fixed;
		min-height: unset;
	}

	.side-menu #hidden-menu-icon {
		display:none;
	}

	.side-menu #menu-items {
		top: auto;
		padding: 1rem 0;
	}

	.side-menu ul {
		margin: 0;
		width: auto;
		text-align: center;
	}

	.side-menu ul li, .side-menu ul li a {
		display: inline;
		padding: 0.5rem;
	}

	.side-menu .socials i {
		margin: 0;
	}

	.side-menu ul li a .label {
		display: none;
	}

	.main-content {
		max-width: 100vw;
		margin: auto;
		padding: 0 1rem;
		margin-bottom: 6em;
	}

	.photo {
		grid-column: 1 / 12;
		padding: 2rem 0;
		margin: auto;
	}

	.olivia h1 {
		font-size: 12vw;
		display: block;
	}

	.descriptive-text {
		grid-column: 1 / 12;
		/* margin: auto; */
		padding: 0;
		max-width: 100vw;
		margin: 0 1rem;
		margin-left: 0;
	}

	.main-content .cv {
		padding: 0;
		margin: 0;
	}

	.main-content .cv-header{
		font-size: 11vw;
		margin-bottom: 2rem;
		font-weight: 700;
	}

	.main-content .activity h3 {
		font-size: 10vw;
		padding: 0;
		margin: 0;
	}

	.education {
		/* grid-column: 1 / 12; */
		padding: 0;
	}

	.education p {
		margin-bottom: 1rem;
	}

	.education p .start-date {
		display: block;
		color: #999;
		font-size: 16px;
	}

	.education p .start-date:before {
		content: unset;
	}

	/* table{
		border-spacing: 10px;
		font-size: 18px;
	} */
}
